/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

html,
body{
    min-height: 100vh;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f7f6;

    color: #333;

    display: flex;
    flex-direction: column;
}

/* CONTAINER */

.container{
    width: 95%;

    margin: 25px auto;

    background-color: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);

    flex: 1;
}

/* TÍTULOS */

h1,
h2{
    color: #2e7d6b;
    margin-bottom: 15px;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 22px;

    margin-top: 45px;
}

p{
    margin-bottom: 20px;

    font-size: 15px;

    line-height: 1.5;
}

/* TABELA RESPONSIVA */

.tabela-responsiva{
    overflow-x: auto;
}

/* TABELA */

table{
    width: 100%;

    margin-top: 20px;

    border-collapse: collapse;

    border: 2px solid #2e7d6b;

    background-color: white;
}

/* CABEÇALHO */

table th{
    background-color: #2e7d6b;

    color: white;

    padding: 25px;

    text-align: center;

    font-size: 14px;

    border: 2px solid white;
}

/* ID */

table th:first-child{
    background-color: #c0392b;
}

table td:first-child{
    color: #c0392b;
    font-weight: bold;
}

/* CÉLULAS */

table td{
    padding: 25px;

    border: 1px solid #ddd;

    text-align: center;

    font-size: 14px;
}

/* LINHAS */

table tr:nth-child(even){
    background-color: #f1f1f1;
}

table tr:hover{
    background-color: #dff3ee;

    transition: 0.3s;
}

/* PREÇO */

.preco{
    color: #e67e22;
    font-weight: bold;
}

/* SEM PRODUTO */

.sem-produto{
    background-color: #ffe5e5;

    color: #c0392b;

    padding: 15px;

    border-radius: 8px;

    margin-top: 20px;

    text-align: center;
}

/* FOOTER */

footer{
    width: 100%;
    margin-top: auto;
}

/* TABLET */

@media(min-width: 768px){

    .container{
        width: 92%;
        padding: 30px;
    }

    h1{
        font-size: 34px;
    }

    h2{
        font-size: 26px;
    }

    p{
        font-size: 16px;
    }

}

/* DESKTOP */

@media(min-width: 1024px){

    .container{
        max-width: 1100px;
    }

}